<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
MakersBnB
</head>
<body>
  <form action="/makers/sign-up" method="get">
       <button class="block" type="submit"><span>Sign Up</span></button>
  </form>
  <form action="/makers/login" method="get">
       <button class="block" type="submit"><span>Log In</span></button>
  </form>
</body>
</html>
