<!DOCTYPE html>
<html>
<head>

</head>
<body>
<style>
body, html {
  height: 100%;
  margin: 0;
  /* The image used */
  background-image: url("https://i.imgur.com/hPiANBi.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.block {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}
.block span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.block span:after {
  content: '\00bb';
  /* position:  */
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.block:hover span {
  padding-right: 25px;
}
.block:hover span:after {
  opacity: 1;
  right: 200px;
}



#buttons {
  text-align: center;
  line-height: 100px;
  position: fixed;
   left: 40%;
   top:40%;
}

h1 {
  position: fixed;
   left: 36%;
   top:20%;
   font-size: 100px;
   color:#FFFFFF;
}
</style>
<h1>MakersBnB</h1>
<div id="buttons">
  <form action="/makers/sign-up" method="get">
       <button class="block" type="submit"><span>Sign Up</span></button>
  </form>
  <form action="/makers/login" method="get">
       <button class="block" type="submit"><span>Log In</span></button>
  </form>
  </div>
</body>
</html>
