<h2>Sign up to MakersBnB</h2>
<form action="/makers/sign-up" method="post">

  <label for="email">Email:
    <input type="email" name="email" placeholder="Email" required/>
  </label><br />

  <label for="password">Password:
    <input type="password" name="password" placeholder="Password" required/>
  </label><br />

  <label for="username">Username:
    <input type="text" name="username" placeholder="Username" required/>
  </label><br />

  <input type="submit" value="Sign up" />
</form>
