<h2>Edit Space</h2>
<form action="/makers/spaces/" method="post">

  <label for="name">Name:
    <input type="text" name="name" required/>
  </label><br />

  <label for="description">Description:
    <input type="text" name="description" required/>
  </label><br />

  <label for="price">Price:
    <input type="text" name="price" required/>
  </label><br />

  <input type="submit" value="Confirm"/>
</form>
