<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
  <body>
      <button name="Add space" value="Add space">
        <a href="/makers/spaces/new">Add space</a>
      </button>

    <h1> Below are all the available listings: </h1>
    <ul>
        <% @spaces.each do |space| %>
            <li>
              <h1><%= space.name %></h1>
              <p><%= space.description %></p>
              <h4>£<%= space.price %>/night</h4>
              <button name="Edit" value="Edit">
                <a href="/makers/spaces/edit/<%= space.id %>">Edit</a>
              </button>
            </li>
        <% end %>
    </ul>
  </body>
</html>
