
.body {
        background-image: url("https://i.imgur.com/hPiANBi.jpg");
        background-repeat: no-repeat;
        background-color: #00ff00;
     }

.block {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.block span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.block span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.block:hover span {
  padding-right: 25px;
}
.block:hover span:after {
  opacity: 1;
  right: 0;
}
