<h1>Sign up to MakersBnB</h1>
<form action="/makers/sign-up" method="post">

  <label for="email">
    <input type="text" name="email" />
  </label>

  <label for="password">
    <input type="text" name="password" />
  </label>

  <label for="username">
    <input type="text" name="username" />
  </label>

  <input type="submit" value="Sign up" />
</form>
